#navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.267);
}

#title {
    font-size: 2.2em;
    margin: 0;
    margin-left: 15px;
}

#title span {
    color: #266DB6;
    font-size: 1.15em;
}

#home {
    position: absolute;
    top: 75px;
    left: 15px;
    font-size: 2.15em;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0.432);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    transition: all .3s ease;
}


#home:hover {
    background-color: #000000a6;
    color: white;
}

#header {
    font-size: 2em;
    margin-bottom: 15px;
    font-weight: 700;
}

.signin {
    color: #00e266;
}

.login {
    color: #238eff;
}

#auth {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#auth form {
    display: flex;
    flex-direction: column;
}

#auth form label {
    text-align: left;
    font-weight: 600;
}

#auth form input {
    /* margin-bottom: 15px; */
    width: 100%;
}

input {
	appearance: none;
    width: 70%;
    font-weight: 600;
	outline: none;
	background-color: rgba(255, 255, 255, 0.267);
	border-radius: .5em;
	padding: .4em;
	color: #000000;
}

#links {
    /* font-size: 1.5em; */
    display: flex;
    justify-content: space-between;
}

#auth span {
    margin-top: 25px;
    font-size: 1.2em;
}

#auth span a {
    color: #71b6ff;
}

#auth span a:hover {
    color: #238eff;
}

#auth span .signin-link {
    color: #00e266;
}

#auth span .signin-link:hover {
    color: #00ad4e;
}

.button-51 {
    background-color: transparent;
    border: 1px solid #266DB6;
    box-sizing: border-box;
    color: #00132C;
    font-family: "Avenir Next LT W01 Bold",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 23px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
    outline: 0;
}

.button-51:hover {
    background-color: transparent;
    cursor: pointer;
}

.button-51:before {
    background-color: #D5EDF6;
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
}

.button-51:hover:before {
    background-color: #6DCFF6;
}

.signin-button {
    border: 1px solid #00ad4e;
}

.signin-button:before {
    background-color: #88ffbe;
}

.signin-button:hover:before {
    background-color: #00e266;
}

@media (min-width: 768px) {
    .button-51 {
        padding: 16px 32px;
    }
}