#contents {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.267);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

#back {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 2em;
    transition: all 0.3s ease;
}

#back:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#habit {
    padding: 0;
    margin: 0;
    margin-top: 16px;
    text-align: center;
    font-size: 1.4em;
    border-bottom: 4px solid black;
    margin-bottom: 16px;
}

#graph {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#graph, #days {
    width: 250px;
}

#days {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.day {
    content: "";
    display: inline-block;
    background-color: rgb(154, 154, 154);
    border-radius: 5px;
    margin: 3px;
    font-size: 15px;
    padding: 0;
    text-align: center;
}

.day p {
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
}

.lastMonth, .nextMonth {
    background-color: rgba(83, 83, 83, 0.579);
}

.futureThisMonth {
    background: none;
    border: 2px solid grey;
    height: 19.5px;
}

.futureThisMonth p {
    transform: translate(0px, -1.5px);
}

.not-done p, .done p {
    transform: translate(0px, .75px);
}

.not-done {
    background-color: red;
}

.done {
    background-color: green;
}

#delete {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    color: rgb(196, 0, 0);
    border: none;
    border-radius: 20px;
    font-size: 1.5em;
    font-weight: 700;
    background-color: rgb(255, 185, 185);
    transition: all .3s ease;
}

#delete:hover {
    background-color: rgb(255, 96, 96);
    color: red;
    transform: translate(0px, -5px);
    font-size: 2em;
    box-shadow: 0px 3px 5px rgb(124, 0, 0);
}