

#habits {
    width: 700px;
}

.habit {
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.text {
    width: 400px;
}

.days {
    width: 300px;
    scrollbar-width: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 25px;
}

.yes {
    color: green;
}

.no {
    color: red;
}

.idk {
    color: grey;
}

#days {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}