@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

#logout {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 20px;
    margin-bottom: 10px;
    color: rgb(255, 82, 82);
    /* transition: all .3s ease; */
}

#logout:hover {
    color: rgb(255, 0, 0);
    filter: drop-shadow(2px 2px 1px black);
    margin-bottom: 12px;
    margin-left: 15px;
}

#all {
    width: 700px;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    min-height: 100vh;
    background-color: rgba(0, 35, 99, 0.342);
    min-height: 100%;
    z-index: -2;
}

#welcome {
    font-family: "Shantell Sans", cursive;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.418);
    border-radius: 15px;
    color: white;
    font-weight: 600;
}

#welcome span {
    color: #D5EDF6;
}

#habits {
    width: 700px;
    align-items: center;
}

.habit, .habit-big {
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    border-top: 2px solid black;
    min-height: 50px;
    transition: 0.25s;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.habit {
    align-items: center;
}

.habit-big {
    align-items: baseline;
}

.habit:last-child, .habit-big:last-child {
    border-bottom: 2px solid black;
}

.habit:hover, .habit-big:hover {
    background-color: rgba(0, 0, 0, 0.267);
}

.text {
    width: 400px;
}

.text-big {
    width: 400px;
    height: 184px;
}

.habit-big .text-big {
    align-items: end;
}

.habit .text a, .habit-big .text-big a {
    font-weight: 500;
    color: white;
    transition: all .3s ease-out;
}

.days {
    width: 300px;
    scrollbar-width: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 25px;
}

.yes, .no, .idk {
    width: 24px;
    text-align: center;
}

.yes {
    color: #5bff29;
}

.no {
    color: #ff0000;
}

.idk {
    color: rgb(75, 75, 75);
    font-weight: 700;
}

#days {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 15px;
    color: white;
    /* font-weight: 600; */
}

#days span {
    width: 30px;
    text-align: center;
}

.days-big {
    width: 300px;
}

.day-big {
    content: "";
    display: inline-block;
    background-color: rgb(154, 154, 154);
    border-radius: 15px;
    margin: 3px 6px;
    font-size: 15px;
    padding: 0;
    text-align: center;
    width: 30px;
    height: 30px;
    align-items: center;
}

.day-big p {
    display: grid;
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    height: 100%;
    transform: translate(0, 1px);
}

.lastMonth, .nextMonth {
    background-color: rgba(83, 83, 83, 0.579);
}

.futureThisMonth {
    background: none;
    border: 2px solid grey;
    height: 27px;
    width: 27px;
}

.not-done p, .done p {
    transform: translate(0px, .75px);
}

.not-done {
    background-color: red;
}

.done {
    background-color: green;
}

#add {
    width: 700px;
    margin-top: 15px;
    margin-bottom: 30px;
}

#add input:first-child {
    width: calc(87% - 10px);
    border-radius: 10px 0 0 10px;
    border: none;
    padding: 5px;
}

#add input {
    width: 5%;
    padding: 5px;
    border-radius: 0 10px 10px 0;
    border: none;
}

#add input[type=number] {
    transform: translate(-4px, 0);
    border-left: 2px solid black;
    background-color: #e4e4e4;
}

#add button {
    width: 4%;
    padding: 0;
    background: none;
    border: none;
    transform: translate(0, 7px) scale(1.25);
    color: white;
    transition: all .3s ease;
}

#add button:hover {
    transform: translate(0, 7px) scale(1.5);
    text-shadow: 0 0 4px black;
}

#preset p:first-child{
    font-size: 2em;
    margin-bottom: 0;
    font-family: "Shantell Sans", cursive;
    color: white;
    font-weight: 400;
}

#preset p {
    margin: 0;
    margin-bottom: 4px;
    font-weight: 600;
}

#preset button {
    margin-bottom: 15px;
    font-weight: 400;
}

.good {
    border: 1px solid black;
    font-family: "Shantell Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 21em;
    border-radius: 20px;
    color: #92ff92;
    background-color: #444;
    font-weight: 700;
    font-size: 1em;
    margin-right: 16px;
    padding: 3px 10px;
    transition: all .3s ease;
}

.good:hover {
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 3px black;
}

.good:active {
    transform: translate(0px, 0px);
    box-shadow: none;
}

.bad {
    color: #ffffff;
    font-weight: 700;
}

#quote {
    background-color: transparent;
    border: 2px solid #266DB6;
    box-sizing: border-box;
    color: #00132C;
    font-family: "Avenir Next LT W01 Bold",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 23px;
    margin: 20px 0;
    position: relative;
}

#quote:before {
    background-color: #D5EDF6;
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
}

#author {
    text-align: end;
}

.percent {
    width: fit-content;
    margin: 10px;
    margin-left: 15px;
    color: white;
}

.delete {
    width: fit-content;
    color: rgb(196, 0, 0);
    border: none;
    border-radius: 20px;
    font-size: 1.5em;
    font-weight: 700;
    margin-left: 15px;
    transform: translateY(3px);
    background-color: rgb(255, 185, 185);
    transition: all .3s ease;
}

.delete:hover {
    background-color: rgb(255, 96, 96);
    color: red;
    transform: translate(0px, -5px) scale(1.2);
    box-shadow: 0px 3px 5px rgb(124, 0, 0);
}