#header {
    text-align: center;
    border-bottom: 5px solid pink;
    margin-right: 10%   ;
    margin-left: 10%;
    font-size: 3em;
    margin-top: 0;
}

#header span {
    color: aquamarine;
    font-size: 1.15em;
}

#auth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    width: 500px;
    height: 300px;
    place-items: center;
    font-size: 3em;
}

#auth a:first-child {
    background-color: #263238;
    padding: 40px 90px;
    border-radius: 30px 30px 0px 0px;
    box-shadow: 0px 0px 10px 2px #0c1113;
}

#auth a:last-child {
    background-color: #263a44;
    padding: 40px 111px;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px 0px 10px 2px #0c1113;
}