body, html {
    margin: 0;
    padding: 0;
}

#navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    text-shadow: 0px 0px 4px black;
    background-color: rgba(0, 0, 0, 0.267);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 10px 25px;
    border-radius: 25px;
}

#navbar span {
    color: #00f5d4;
    font-size: 1.15em;
}

#navbar p {
    font-size: 5em;
    margin: 0;
}

#hello {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
    transform: translate(0px, 120px);
    text-shadow: 2px 2px 4px black;
    font-size: 3em;
}